.btns {
  margin-right: 10px;
  border-radius: 25px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 45px;
  padding: 8px 15px;

  a {
    color: #000 !important;
    font-size: 14px;
    font-weight: 600;
    font-family: "CocoSharp-Bold";
    i {
      color: #ff6b00;
      font-size: 18px;
      margin-right: 10px;
    }
  }
}

.banner-btn,
.appbar-btns {
  line-height: unset !important;
  border: 1px solid #fff;
  padding: 16px 25px;
  font-size: 14px;
  width: 80px;

  a {
    color: #fff !important;
  }
}

.btn2 {
  a {
    color: #fff !important;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding: 15px 45px;
    line-height: 20px;
    background: #ff6400;
    border-radius: 25px;
    box-shadow: 0 10px 10px -10px rgba(255, 107, 0, 0.51);
  }
}

.second-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: 0 0 !important;
  box-shadow: none !important;
  line-height: 16px !important;
  padding: 14px 30px;
  a {
    color: #969696 !important;
    font-weight: 600;
    font-family: "CocoSharp-Bold";
  }
}
