footer {
  padding: 75px 0 60px;
  .footer-menus {
    padding-top: 55px;
    .footer-menu {
      .footer-link {
        .footer-h {
          display: inline-block;
          line-height: 14px;
          font-size: 14px;
          color: #000;
          font-weight: 700;
          text-decoration: none;
        }
      }
      .footer-list {
        display: flex;
        justify-content: space-between;
        ul {
          padding-top: 8px;
          li {
            a {
              font-weight: 400;
              font-size: 12px;
              color: #000 !important;
              line-height: 35px;
            }
          }
        }
      }
    }
  }

  .footer-socnets {
    padding: 50px 0 20px;
    border-bottom: 1px solid #d6d9db;

    .footer-socnet {
      text-decoration: none;
      margin-right: 18px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      color: white;
      background-color: #a1a1a1;

      i {
        line-height: 24px;
        font-size: 12px;
      }
    }
    .socnet-orange {
      background-color: #ff6b00;
    }
  }

  .footer-bottom {
    padding-top: 30px;
    width: 100%;

    .footer-text {
      color: #000;
      letter-spacing: 0.37px;
      line-height: 23px;

      p {
        line-height: 12px;
        font-size: 12px;
      }
      p + p {
        font-weight: 200;
        font-size: 12px;
        margin-top: 10px;
      }
    }

    .footer-partners {
      .footer-partner {
        span {
          background-position: center;
          width: 100%;
          img {
            height: 45px;
          }
        }
      }
    }
  }
}
