// statistics section start
#statistics {
  padding: 50px 0;

  .statistic-bar {
    margin: 0 -15px;
    .stats-card {
      padding: 0 15px;
      width: calc(100% / 4);
      .stats-body {
        padding: 40px 50px;
        text-align: center;
        background: #fafafa;
        border-radius: 10px;

        .stats-caption {
          line-height: 18px;
          font-family: "CocoSharp-Bold";
          font-size: 18px;
          font-weight: 700;
          color: #000;
        }
        .stats-value {
          font-size: 52px;
          font-family: "CocoSharp-Bold";
          font-weight: 700;
          line-height: normal;
          color: #ff6400;
          margin-bottom: 20px;
          margin-top: 15px;
        }
        .stats-desc {
          line-height: 14px;
          font-weight: 400;
          font-size: 14px;
          color: #000;
          margin-top: -20px;
          margin-bottom: 45px;
        }
      }
    }
  }
}
// statictics section end

// appbars section start
#appbars {
  .appbar {
    padding: 35px 0 0;
    .appbar-wrapper {
      background: #fafafa;
      border-radius: 10px;

      .appbar-img {
        position: relative;
        width: 45%;
        height: 400px;

        img {
          height: 495px;
          position: absolute;
          top: -95px;
          right: 0;
        }
      }

      .appbar-desc {
        width: 50%;
        padding-right: 20px;
        padding-left: 70px;
        h2 {
          line-height: 28px;
          font-family: "CocoSharp-ExtraBold";
          font-weight: 800;
          font-size: 28px;
          color: #ff6400;
          margin: 0 0 20px;
        }
        p {
          padding-right: 10px;
          font-weight: 400;
          font-size: 12.6px;
          color: #000;
          letter-spacing: 0.2px;
          line-height: 1.43;
          margin-bottom: 40px;
          font-family: "CocoSharp-Regular";
        }
        .appbar-labels {
          margin-bottom: 30px;
          a {
            margin-right: 10px;
            span {
              display: inline-block;
              width: 135px;
              height: 40px;
            }
            .first-span {
              background-image: url(/assets/img/playstore.svg);
            }
            .second-span {
              background-image: url(/assets/img/appstore.svg);
            }
            .third-span {
              background-image: url(/assets/img/app-gallery.svg);
            }
          }
        }
      }
      .appbar-btns.first-btn {
        background: #ff6400;
        line-height: 16px;
        border: 1px solid transparent;
        a {
          font-weight: 700;
        }
      }
      .second-btn,
      .third-btn {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: 0 0 !important;
        box-shadow: none !important;
        line-height: 16px !important;
        padding: 14px 30px;
        a {
          color: #969696 !important;
          font-weight: 600;
          font-family: "CocoSharp-Bold";
        }
      }
    }
  }
}
// appbars section end

// exchange section start
#exchange {
  padding: 30px 0;
  .exchange-wrapper {
    overflow: hidden;
    padding: 40px 70px;
    background: #fafafa;
    border-radius: 10px;
    h2 {
      margin-bottom: 0;
      line-height: 28px;
      font-family: "CocoSharp-ExtraBold";
      font-weight: 800;
      font-size: 28px;
      color: #ff6400;
      margin: 0 0 20px;
    }
    .exchange-header {
      line-height: 18px;
      font-family: "CocoSharp-Bold";
      font-weight: 700;
      font-size: 18px;
      color: #000;
      padding-bottom: 10px;
    }
    .exchange-date {
      line-height: 12px;
      font-size: 12px;
      color: rgba(50, 50, 50, 0.5);
      margin-bottom: 30px;
      font-weight: 400;
      font-family: "CocoSharp-Regular";
    }
    .exchange-table {
      margin: 0 -62px;
      .cash-table,
      .cashless-table,
      .card-table {
        width: 33.33333333%;
        .exchange-body {
          table {
            width: 100%;
            thead {
              tr {
                th {
                  font-size: 12px;
                  color: #acb3b8;
                  line-height: 18px;
                  text-align: left;
                  font-weight: 400 !important;
                  font-family: "CocoSharp-Regular";

                  border-bottom: 1px solid #d6d9db;
                  padding-bottom: 11px;
                  width: 33.3333333%;
                }
              }
            }
            tbody {
              line-height: 14px;
              font-size: 14px;
              tr > td > td {
                display: flex;
                align-items: center;
              }
              tr {
                td {
                  width: 33.3333333%;
                  padding: 15px 0;
                  white-space: nowrap;
                  color: #323232;
                  font-weight: 700;
                  font-family: "CocoSharp-Bold";
                }
              }
            }
          }
        }
      }
    }
    .exchange-converter {
      margin-bottom: 20px;
      height: 150px;
      width: 100%;
      background: #fff;
      box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.1);
      padding: 50px 30px;
      border-radius: 10px;

      .exchange-left {
        .exchange-date {
          margin-bottom: 0;
        }
      }
      .exchange-right {
        .exchangecalc {
          .exchangecalc-arrow {
            position: relative;

            i {
              position: absolute;
              left: -40px;
              top: -7px;
            }
          }

          .exchangecalc-up,
          .exchangecalc-down {
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid rgba(50, 50, 50, 0.1);
            float: left;
            width: 280px;
            position: relative;

            .exchangecalc-inp {
              border: none;
              background: 0 0;
              font-family: "CocoSharp-Bold";
              font-weight: 700;
              font-size: 15px;
              color: #000;
              line-height: 47px;
              width: 70%;
              outline: 0;
            }
            .exchangecalc-select {
              display: inline-block;
              i {
                color: #dfe1e3;
                margin-left: 13px !important;
              }
            }
          }
        }
        .exchangecalc-up {
          overflow: hidden;
          margin-right: 70px;
        }
        .exchangecalc-down {
          position: relative;
        }
      }
    }
  }

  .exchange {
    position: relative;
    min-height: 1px;
    padding: 50px 62px;
  }
  .arrow-icon {
    margin-left: 3px;
    color: #323232;
    font-size: 8px;
    pointer-events: none;
    font-variant: normal;
    display: inline-block;
  }
}
// exchange section end

// network section start
#network {
  .network {
    margin: 0 -15px;
    .network-left,
    .network-right {
      padding: 0 15px;
    }
    .network-location,
    .network-contact {
      background: #fafafa;
      border-radius: 10px;
      height: 320px;
      padding: 45px 65px;
      position: relative;
    }
    .network-left {
      width: 60%;
      .network-location {
        .network-location-img {
          position: absolute;
          bottom: -3px;
          right: 0;
          overflow: hidden;
          img {
            height: 250px;
          }
        }
      }
    }
    .network-right {
      width: 40%;
      .network-contact {
        .network-contact-img {
          position: absolute;
          top: 0;
          right: 0;
          pointer-events: none;
          img {
            height: 250px;
          }
        }
        .network-heading {
          width: 100%;
        }
        .network-summary {
          width: 80%;
          margin-bottom: 20px;
        }
      }
    }
    .network-btn {
      a {
        padding: 15px 40px;
      }
    }
    .network-heading {
      width: 35%;
      font-size: 28px;
      font-family: "CocoSharp-Extrabold";
      font-weight: 800;
      line-height: normal;
      color: #ff6400;
      margin-bottom: 20px;
    }
    .network-summary {
      line-height: 20px;
      font-weight: 400;
      font-size: 12.4px;
      letter-spacing: 0.4px;
      color: rgba(0, 0, 0, 0.8);
      width: 70%;
      font-family: "CocoSharp-Regular";
      margin-bottom: 40px;
    }
  }
}
// network section end
