@media (max-width: 768px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block !important;

    .hamburger-menu {
      padding: 15px 18px 16px 18px;
      width: auto;
      margin-top: 10px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger {
        float: left;
        margin-left: 0;
        margin-right: 35px;
        margin-top: 0;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #f5f5f6;
        button {
          text-transform: none;
          display: inline-block;
          vertical-align: middle;
          font-size: 1.1em;
          border: none;
          background-color: transparent;
        }
      }

      .logo {
        margin-top: 0;
        width: 29px;
        height: 30px;
        a {
          background-color: transparent;

          img {
            width: 100%;
          }
        }
      }

      .topbar-btns {
        margin-right: 10px;
        padding: 8px 15px;
        border-radius: 25px;
        align-items: center;
        border: none;
        height: 45px;
        background: #f5f5f6;

        a {
          color: #000 !important;
          font-size: 14px;
          font-weight: 600;
          i {
            color: #ff6b00;
            font-size: 18px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  footer{
    display: none;
  }
}
