@font-face {
  font-family: CocoSharp-Bold-Italic;
  src: url(/assets/fonts/CocoSharp-BoldItalic.otf);
}
@font-face {
  font-family: CocoSharp-Bold;
  src: url(/assets/fonts/CocoSharp-Bold.otf);
}
@font-face {
  font-family: CocoSharp-ExtraBold-Italic;
  src: url(/assets/fonts/CocoSharp-ExtraboldItalic.otf);
}
@font-face {
  font-family: CocoSharp-ExtraBold;
  src: url(/assets/fonts/CocoSharp-Extrabold.otf);
}
@font-face {
  font-family: CocoSharp-Extralight-Italic;
  src: url(/assets/fonts/CocoSharp-ExtraLightItalic.otf);
}
@font-face {
  font-family: CocoSharp-Extralight;
  src: url(/assets/fonts/CocoSharp-ExtraLight.otf);
}
@font-face {
  font-family: CocoSharp-Heavy-Italic;
  src: url(/assets/fonts/CocoSharp-HeavyItalic.otf);
}
@font-face {
  font-family: CocoSharp-Heavy;
  src: url(/assets/fonts/CocoSharp-Heavy.otf);
}
@font-face {
  font-family: CocoSharp-Italic;
  src: url(/assets/fonts/CocoSharp-Italic.otf);
}
@font-face {
  font-family: CocoSharp-Light-Italic;
  src: url(/assets/fonts/CocoSharp-LightItalic.otf);
}
@font-face {
  font-family: CocoSharp-Light;
  src: url(/assets/fonts/CocoSharp-Light.otf);
}
@font-face {
  font-family: CocoSharp-Regular;
  src: url(/assets/fonts/CocoSharpL-Regular.otf);
}
