@font-face {
  font-family: CocoSharp-Bold-Italic;
  src: url(/assets/fonts/CocoSharp-BoldItalic.otf);
}
@font-face {
  font-family: CocoSharp-Bold;
  src: url(/assets/fonts/CocoSharp-Bold.otf);
}
@font-face {
  font-family: CocoSharp-ExtraBold-Italic;
  src: url(/assets/fonts/CocoSharp-ExtraboldItalic.otf);
}
@font-face {
  font-family: CocoSharp-ExtraBold;
  src: url(/assets/fonts/CocoSharp-Extrabold.otf);
}
@font-face {
  font-family: CocoSharp-Extralight-Italic;
  src: url(/assets/fonts/CocoSharp-ExtraLightItalic.otf);
}
@font-face {
  font-family: CocoSharp-Extralight;
  src: url(/assets/fonts/CocoSharp-ExtraLight.otf);
}
@font-face {
  font-family: CocoSharp-Heavy-Italic;
  src: url(/assets/fonts/CocoSharp-HeavyItalic.otf);
}
@font-face {
  font-family: CocoSharp-Heavy;
  src: url(/assets/fonts/CocoSharp-Heavy.otf);
}
@font-face {
  font-family: CocoSharp-Italic;
  src: url(/assets/fonts/CocoSharp-Italic.otf);
}
@font-face {
  font-family: CocoSharp-Light-Italic;
  src: url(/assets/fonts/CocoSharp-LightItalic.otf);
}
@font-face {
  font-family: CocoSharp-Light;
  src: url(/assets/fonts/CocoSharp-Light.otf);
}
@font-face {
  font-family: CocoSharp-Regular;
  src: url(/assets/fonts/CocoSharpL-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block !important;
  }
  .header-mobile .hamburger-menu {
    padding: 15px 18px 16px 18px;
    width: auto;
    margin-top: 10px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-mobile .hamburger-menu .burger {
    float: left;
    margin-left: 0;
    margin-right: 35px;
    margin-top: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f5f5f6;
  }
  .header-mobile .hamburger-menu .burger button {
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
    border: none;
    background-color: transparent;
  }
  .header-mobile .hamburger-menu .logo {
    margin-top: 0;
    width: 29px;
    height: 30px;
  }
  .header-mobile .hamburger-menu .logo a {
    background-color: transparent;
  }
  .header-mobile .hamburger-menu .logo a img {
    width: 100%;
  }
  .header-mobile .hamburger-menu .topbar-btns {
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 25px;
    align-items: center;
    border: none;
    height: 45px;
    background: #f5f5f6;
  }
  .header-mobile .hamburger-menu .topbar-btns a {
    color: #000 !important;
    font-size: 14px;
    font-weight: 600;
  }
  .header-mobile .hamburger-menu .topbar-btns a i {
    color: #ff6b00;
    font-size: 18px;
    margin-right: 10px;
  }
  footer {
    display: none;
  }
}
#statistics {
  padding: 50px 0;
}
#statistics .statistic-bar {
  margin: 0 -15px;
}
#statistics .statistic-bar .stats-card {
  padding: 0 15px;
  width: 25%;
}
#statistics .statistic-bar .stats-card .stats-body {
  padding: 40px 50px;
  text-align: center;
  background: #fafafa;
  border-radius: 10px;
}
#statistics .statistic-bar .stats-card .stats-body .stats-caption {
  line-height: 18px;
  font-family: "CocoSharp-Bold";
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
#statistics .statistic-bar .stats-card .stats-body .stats-value {
  font-size: 52px;
  font-family: "CocoSharp-Bold";
  font-weight: 700;
  line-height: normal;
  color: #ff6400;
  margin-bottom: 20px;
  margin-top: 15px;
}
#statistics .statistic-bar .stats-card .stats-body .stats-desc {
  line-height: 14px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-top: -20px;
  margin-bottom: 45px;
}

#appbars .appbar {
  padding: 35px 0 0;
}
#appbars .appbar .appbar-wrapper {
  background: #fafafa;
  border-radius: 10px;
}
#appbars .appbar .appbar-wrapper .appbar-img {
  position: relative;
  width: 45%;
  height: 400px;
}
#appbars .appbar .appbar-wrapper .appbar-img img {
  height: 495px;
  position: absolute;
  top: -95px;
  right: 0;
}
#appbars .appbar .appbar-wrapper .appbar-desc {
  width: 50%;
  padding-right: 20px;
  padding-left: 70px;
}
#appbars .appbar .appbar-wrapper .appbar-desc h2 {
  line-height: 28px;
  font-family: "CocoSharp-ExtraBold";
  font-weight: 800;
  font-size: 28px;
  color: #ff6400;
  margin: 0 0 20px;
}
#appbars .appbar .appbar-wrapper .appbar-desc p {
  padding-right: 10px;
  font-weight: 400;
  font-size: 12.6px;
  color: #000;
  letter-spacing: 0.2px;
  line-height: 1.43;
  margin-bottom: 40px;
  font-family: "CocoSharp-Regular";
}
#appbars .appbar .appbar-wrapper .appbar-desc .appbar-labels {
  margin-bottom: 30px;
}
#appbars .appbar .appbar-wrapper .appbar-desc .appbar-labels a {
  margin-right: 10px;
}
#appbars .appbar .appbar-wrapper .appbar-desc .appbar-labels a span {
  display: inline-block;
  width: 135px;
  height: 40px;
}
#appbars .appbar .appbar-wrapper .appbar-desc .appbar-labels a .first-span {
  background-image: url(/assets/img/playstore.svg);
}
#appbars .appbar .appbar-wrapper .appbar-desc .appbar-labels a .second-span {
  background-image: url(/assets/img/appstore.svg);
}
#appbars .appbar .appbar-wrapper .appbar-desc .appbar-labels a .third-span {
  background-image: url(/assets/img/app-gallery.svg);
}
#appbars .appbar .appbar-wrapper .appbar-btns.first-btn {
  background: #ff6400;
  line-height: 16px;
  border: 1px solid transparent;
}
#appbars .appbar .appbar-wrapper .appbar-btns.first-btn a {
  font-weight: 700;
}
#appbars .appbar .appbar-wrapper .second-btn,
#appbars .appbar .appbar-wrapper .third-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: 0 0 !important;
  box-shadow: none !important;
  line-height: 16px !important;
  padding: 14px 30px;
}
#appbars .appbar .appbar-wrapper .second-btn a,
#appbars .appbar .appbar-wrapper .third-btn a {
  color: #969696 !important;
  font-weight: 600;
  font-family: "CocoSharp-Bold";
}

#exchange {
  padding: 30px 0;
}
#exchange .exchange-wrapper {
  overflow: hidden;
  padding: 40px 70px;
  background: #fafafa;
  border-radius: 10px;
}
#exchange .exchange-wrapper h2 {
  margin-bottom: 0;
  line-height: 28px;
  font-family: "CocoSharp-ExtraBold";
  font-weight: 800;
  font-size: 28px;
  color: #ff6400;
  margin: 0 0 20px;
}
#exchange .exchange-wrapper .exchange-header {
  line-height: 18px;
  font-family: "CocoSharp-Bold";
  font-weight: 700;
  font-size: 18px;
  color: #000;
  padding-bottom: 10px;
}
#exchange .exchange-wrapper .exchange-date {
  line-height: 12px;
  font-size: 12px;
  color: rgba(50, 50, 50, 0.5);
  margin-bottom: 30px;
  font-weight: 400;
  font-family: "CocoSharp-Regular";
}
#exchange .exchange-wrapper .exchange-table {
  margin: 0 -62px;
}
#exchange .exchange-wrapper .exchange-table .cash-table,
#exchange .exchange-wrapper .exchange-table .cashless-table,
#exchange .exchange-wrapper .exchange-table .card-table {
  width: 33.33333333%;
}
#exchange .exchange-wrapper .exchange-table .cash-table .exchange-body table,
#exchange .exchange-wrapper .exchange-table .cashless-table .exchange-body table,
#exchange .exchange-wrapper .exchange-table .card-table .exchange-body table {
  width: 100%;
}
#exchange .exchange-wrapper .exchange-table .cash-table .exchange-body table thead tr th,
#exchange .exchange-wrapper .exchange-table .cashless-table .exchange-body table thead tr th,
#exchange .exchange-wrapper .exchange-table .card-table .exchange-body table thead tr th {
  font-size: 12px;
  color: #acb3b8;
  line-height: 18px;
  text-align: left;
  font-weight: 400 !important;
  font-family: "CocoSharp-Regular";
  border-bottom: 1px solid #d6d9db;
  padding-bottom: 11px;
  width: 33.3333333%;
}
#exchange .exchange-wrapper .exchange-table .cash-table .exchange-body table tbody,
#exchange .exchange-wrapper .exchange-table .cashless-table .exchange-body table tbody,
#exchange .exchange-wrapper .exchange-table .card-table .exchange-body table tbody {
  line-height: 14px;
  font-size: 14px;
}
#exchange .exchange-wrapper .exchange-table .cash-table .exchange-body table tbody tr > td > td,
#exchange .exchange-wrapper .exchange-table .cashless-table .exchange-body table tbody tr > td > td,
#exchange .exchange-wrapper .exchange-table .card-table .exchange-body table tbody tr > td > td {
  display: flex;
  align-items: center;
}
#exchange .exchange-wrapper .exchange-table .cash-table .exchange-body table tbody tr td,
#exchange .exchange-wrapper .exchange-table .cashless-table .exchange-body table tbody tr td,
#exchange .exchange-wrapper .exchange-table .card-table .exchange-body table tbody tr td {
  width: 33.3333333%;
  padding: 15px 0;
  white-space: nowrap;
  color: #323232;
  font-weight: 700;
  font-family: "CocoSharp-Bold";
}
#exchange .exchange-wrapper .exchange-converter {
  margin-bottom: 20px;
  height: 150px;
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  border-radius: 10px;
}
#exchange .exchange-wrapper .exchange-converter .exchange-left .exchange-date {
  margin-bottom: 0;
}
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-arrow {
  position: relative;
}
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-arrow i {
  position: absolute;
  left: -40px;
  top: -7px;
}
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-up,
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-down {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(50, 50, 50, 0.1);
  float: left;
  width: 280px;
  position: relative;
}
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-up .exchangecalc-inp,
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-down .exchangecalc-inp {
  border: none;
  background: 0 0;
  font-family: "CocoSharp-Bold";
  font-weight: 700;
  font-size: 15px;
  color: #000;
  line-height: 47px;
  width: 70%;
  outline: 0;
}
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-up .exchangecalc-select,
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-down .exchangecalc-select {
  display: inline-block;
}
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-up .exchangecalc-select i,
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc .exchangecalc-down .exchangecalc-select i {
  color: #dfe1e3;
  margin-left: 13px !important;
}
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc-up {
  overflow: hidden;
  margin-right: 70px;
}
#exchange .exchange-wrapper .exchange-converter .exchange-right .exchangecalc-down {
  position: relative;
}
#exchange .exchange {
  position: relative;
  min-height: 1px;
  padding: 50px 62px;
}
#exchange .arrow-icon {
  margin-left: 3px;
  color: #323232;
  font-size: 8px;
  pointer-events: none;
  font-variant: normal;
  display: inline-block;
}

#network .network {
  margin: 0 -15px;
}
#network .network .network-left,
#network .network .network-right {
  padding: 0 15px;
}
#network .network .network-location,
#network .network .network-contact {
  background: #fafafa;
  border-radius: 10px;
  height: 320px;
  padding: 45px 65px;
  position: relative;
}
#network .network .network-left {
  width: 60%;
}
#network .network .network-left .network-location .network-location-img {
  position: absolute;
  bottom: -3px;
  right: 0;
  overflow: hidden;
}
#network .network .network-left .network-location .network-location-img img {
  height: 250px;
}
#network .network .network-right {
  width: 40%;
}
#network .network .network-right .network-contact .network-contact-img {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
#network .network .network-right .network-contact .network-contact-img img {
  height: 250px;
}
#network .network .network-right .network-contact .network-heading {
  width: 100%;
}
#network .network .network-right .network-contact .network-summary {
  width: 80%;
  margin-bottom: 20px;
}
#network .network .network-btn a {
  padding: 15px 40px;
}
#network .network .network-heading {
  width: 35%;
  font-size: 28px;
  font-family: "CocoSharp-Extrabold";
  font-weight: 800;
  line-height: normal;
  color: #ff6400;
  margin-bottom: 20px;
}
#network .network .network-summary {
  line-height: 20px;
  font-weight: 400;
  font-size: 12.4px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.8);
  width: 70%;
  font-family: "CocoSharp-Regular";
  margin-bottom: 40px;
}

#locations .locations {
  margin-top: 20px;
  margin-bottom: 30px;
}
#locations .locations .location {
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s linear;
}
#locations .locations .location .loc-wrapper {
  color: #000;
  line-height: 33px;
  margin-bottom: 15px;
}
#locations .locations .location .loc-wrapper .loc-item {
  width: 100%;
  padding: 35px 65px;
  background: #fafafa;
  border-radius: 10px;
  transition: 0.3s;
}
#locations .locations .location .loc-wrapper .loc-item i {
  margin-right: 20px;
  margin-top: 5px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 34px;
  color: #ff6400;
}
#locations .locations .location .loc-wrapper .loc-item .loc-name {
  line-height: 20px;
  font-weight: 400;
  font-family: "CocoSharp-Regular";
  font-size: 20px;
  vertical-align: top;
  width: 40%;
  color: #000;
}
#locations .locations .location .loc-wrapper .loc-item .loc-name p {
  font-weight: 700;
  font-family: "CocoSharp-Bold";
  margin-bottom: 0.1rem;
}
#locations .locations .location .loc-wrapper .loc-item .loc-name .loc-text {
  font-size: 14px;
  line-height: 21px;
}
#locations .locations .location .loc-wrapper .loc-item .loc-date {
  font-weight: 400;
  font-family: "CocoSharp-Regular";
  font-size: 14px;
  line-height: 16px;
  width: 30%;
  color: #000;
}
#locations .locations .location .loc-wrapper .loc-item .loc-info {
  width: 30%;
  font-weight: 200;
  color: #000;
  font-family: "CocoSharp-Light";
  font-size: 14px;
  line-height: 16px;
}
#locations .locations .location .loc-wrapper .loc-item .loc-info i {
  margin-top: 0px;
  font-size: 33px;
}
#locations .locations .location .loc-wrapper .loc-item:hover {
  background-color: #ff6400;
  color: #fafafa;
}
#locations .locations .location .loc-wrapper .loc-item:hover i {
  color: #fafafa;
}
#locations .locations .location .loc-wrapper .loc-item:hover .loc-name,
#locations .locations .location .loc-wrapper .loc-item:hover .loc-text,
#locations .locations .location .loc-wrapper .loc-item:hover .loc-date,
#locations .locations .location .loc-wrapper .loc-item:hover .loc-info {
  color: #fafafa;
}

#note .note {
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  line-height: 16px;
  background: #ff6400;
  padding: 25px 65px 15px;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
}
#note .note i {
  font-size: 20px;
  margin-right: 10px;
}
#note .note .note-text {
  line-height: 18px;
  font-family: "CocoSharp-Bold";
  font-weight: 700;
}

#videobar .videobar {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
#videobar .videobar .videobar-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 290px;
  background-image: url("/assets/img/videobar.png");
}
#videobar .videobar .videobar-img .videobar-player {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
#videobar .videobar .videobar-img .videobar-player .videobar-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 65px;
  height: 65px;
  line-height: 65px;
  color: #fff;
}
#videobar .videobar .videobar-img .videobar-player .videobar-icon i {
  position: relative;
  font-size: 65px;
}

#info-boxes .info-boxes {
  padding-top: 35px;
}
#info-boxes .info-boxes .info-boxes-body {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card {
  margin-bottom: 30px;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-icon {
  font-size: 65px;
  line-height: 65px;
  margin-bottom: 10px;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-icon i {
  font-size: 60px;
  color: #ff6400;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-bottom {
  margin-top: 30px;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-bottom .info-boxes-value {
  font-family: "CocoSharp-Bold";
  font-weight: 700;
  font-size: 20px;
  color: #000;
  line-height: normal;
  margin-bottom: 10px;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-bottom .info-boxes-summary {
  margin-bottom: 60px;
}

#ceos .ceos {
  width: 100%;
}
#ceos .ceos .ceos-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 45px 65px;
  border-radius: 10px;
  background-color: #fafafa;
  margin-bottom: 0;
}
#ceos .ceos .ceos-item .ceos-img {
  width: 105px;
  height: 105px;
  overflow: hidden;
  margin-bottom: 15px;
}
#ceos .ceos .ceos-item .ceos-img img {
  border-radius: 50%;
  width: 100%;
}
#ceos .ceos .ceos-item .ceos-name {
  font-family: "CocoSharp-Bold";
  font-weight: 700;
  font-size: 20px;
  color: #000;
  line-height: normal;
  margin-bottom: 5px;
}
#ceos .ceos .ceos-item .ceos-position {
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: normal;
}
#ceos .ceos .ceos-item .ceos-text {
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 1.43;
  margin-top: 15px;
}

#about-us .about-us {
  background-color: #fafafa;
  margin-top: 30px;
  border-radius: 10px;
}
#about-us .about-us .about-us-body {
  padding: 45px 65px;
}
#about-us .about-us .about-us-body .about-us-h h1 {
  color: #ff6400;
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  font-family: "CocoSharp-ExtraBold";
}
#about-us .about-us .about-us-body .about-us-p {
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-top: 15px;
  line-height: 1.43;
}

#benefits .benefits {
  margin: 0 -15px;
  padding-top: 30px;
}
#benefits .benefits .benefit {
  padding: 0 15px;
  width: 25%;
}
#benefits .benefits .benefit .benefit-item {
  padding: 35px 45px;
  height: 200px;
  border-radius: 10px;
  background-color: #ff6400;
}
#benefits .benefits .benefit .benefit-item .benefit-icon {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 15px;
  color: #fff;
}
#benefits .benefits .benefit .benefit-item .benefit-caption {
  font-size: 14px;
  color: #fff;
  line-height: 1.43;
  font-family: "CocoSharp-Bold";
  font-weight: 700;
}

#values .values {
  margin-top: 50px;
}
#values .values h2 {
  margin-bottom: 20px;
  color: #ff6400;
  font-weight: 800;
}
#values .values .table table {
  min-height: 1px;
}
#values .values .table table tr th {
  line-height: 20px;
  font-family: "CocoSharp-Bold";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}
#values .values .table table td {
  padding-left: 18px;
  padding-right: 18px;
  width: 25%;
  border-style: hidden;
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 23px;
}

#top-cards {
  margin-bottom: 55px;
}
#top-cards .top-cards {
  margin-top: 30px;
  background: #fafafa;
  border-radius: 10px;
  padding: 50px 65px;
}
#top-cards .top-cards .top-cards-img {
  width: 33.3333333333%;
}
#top-cards .top-cards .top-cards-img img {
  width: 315px;
  box-shadow: -15px 15px 30px 0 rgba(0, 0, 0, 0.24);
  padding: 0;
  border-radius: 15px;
  max-width: 100%;
}
#top-cards .top-cards .top-cards-text {
  width: 66.6666666667%;
  padding-left: 18px;
}
#top-cards .top-cards .top-cards-text .top-cards-header {
  align-items: flex-end;
  margin-bottom: 10px;
}
#top-cards .top-cards .top-cards-text .top-cards-header .top-cards-heading {
  margin-top: 20px;
  font-weight: 800;
  font-family: "CocoSharp-ExtraBold";
  font-size: 24px;
  color: #000;
  line-height: 30px;
}
#top-cards .top-cards .top-cards-text .top-cards-desc {
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #000;
  margin-bottom: 25px;
}
#top-cards .top-cards .top-cards-text .top-cards-advs .advs {
  width: 100%;
}
#top-cards .top-cards .top-cards-text .top-cards-advs .advs .adv {
  width: 33.3333333333%;
}
#top-cards .top-cards .top-cards-text .top-cards-advs .advs .adv .adv-icon {
  font-size: 34px;
  line-height: 65px;
  margin-right: 10px;
}
#top-cards .top-cards .top-cards-text .top-cards-advs .advs .adv .adv-icon i {
  color: #ff6b00;
}
#top-cards .top-cards .top-cards-text .top-cards-advs .advs .adv .adv-value {
  font-family: "CocoSharp-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  color: #000;
  text-align: left;
}

.btn2 {
  margin-bottom: 12px;
}
.btn2 a {
  padding: 14px 30px !important;
}
.btn2 i {
  margin-left: 10px;
  height: 19px;
  line-height: 19px;
}

#commoncards {
  margin-top: 30px;
  margin-bottom: 55px;
}
#commoncards .commoncards {
  flex-wrap: wrap;
  margin: 0 -15px;
}
#commoncards .commoncards .commoncard-w {
  width: 50%;
  padding: 0 15px;
}
#commoncards .commoncards .commoncard-w .commoncard {
  width: 100%;
  flex-direction: column;
  padding: 45px 65px;
  border-radius: 10px;
  background: #fafafa;
  margin-top: 30px;
}
#commoncards .commoncards .commoncard-w .commoncard img {
  width: 315px;
  border-radius: 15px;
  box-shadow: -15px 15px 30px 0 rgba(0, 0, 0, 0.24);
}
#commoncards .commoncards .commoncard-w .commoncard .d-card-text {
  margin-top: 40px;
  width: 100%;
}
#commoncards .commoncards .commoncard-w .commoncard .d-card-text .d-name {
  font-family: "CocoSharp-ExtraBold";
  font-weight: 800;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 10px;
  color: #000;
}
#commoncards .commoncards .commoncard-w .commoncard .d-card-text .d-desc {
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 25px;
  height: 75px;
  color: #000;
}
#commoncards .commoncards .commoncard-w .commoncard .d-card-text .card-btns .btn2 {
  margin-right: 10px;
  margin-bottom: 0px;
}

.body {
  background-image: url("/assets/img/ibanking-bg.webp");
  background-size: cover;
  background-attachment: fixed;
  color: #3f3f3f;
  letter-spacing: 0;
  height: 880px;
}

header .outer-login .wrapper-inner {
  margin: 0 25px;
  padding-bottom: 5px;
  font-size: 14px;
  margin-top: 68px;
  color: #fff;
}
header .outer-login .wrapper-inner .second-col {
  text-align: right;
}
header .outer-login .wrapper-inner .second-col form .selected {
  font-weight: 700;
  border-bottom: 1px solid;
}
header .outer-login .wrapper-inner .second-col form a {
  padding: 4px;
  cursor: pointer;
  text-decoration: none !important;
  color: #7c7c7c !important;
  border-radius: 2px;
  transition: 0.7s;
}
header .outer-login .wrapper-inner .second-col form a:hover {
  background: #000;
  color: #000 !important;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.main .content-login {
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 1062px;
  min-height: 450px;
  background-color: #fafafa;
}
.main .content-login #left {
  width: 50%;
  min-height: 734px;
  height: auto !important;
  border-radius: 5px;
}
.main .content-login #left .slide-info .fade-box {
  position: relative;
  animation: animateleft 1s;
}
.main .content-login #left .slide-info .card-items {
  margin: 0 auto;
  width: 324px;
  margin-top: 103px;
}
.main .content-login #left .slide-info .card-items .card-img {
  width: 96%;
}
.main .content-login #left .slide-info .card-items .card-img img {
  width: 108%;
  border-radius: 6px;
  box-shadow: 10px 10px 33px 0 rgba(0, 0, 0, 0.15);
}
.main .content-login #left .slide-info .card-items .card-info {
  padding-left: 10px;
  height: 200px;
}
.main .content-login #left .slide-info .card-items .card-info h4 {
  color: #3e3e3e;
  font-size: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
}
.main .content-login #left .slide-info .card-items .card-info p {
  color: #9b9b9b;
}
.main .content-login #left .slide-info .dots {
  margin-top: 33px;
}
.main .content-login #left .slide-info .dots .dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: rgba(175, 168, 168, 0.55);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.main .content-login #left .slide-info .dots .active-dot {
  background-color: rgba(255, 100, 0, 0.8) !important;
  border: none;
}
.main .content-login #right {
  width: 50%;
  border-radius: 5px;
  padding-top: 60px;
  background-color: white;
  box-shadow: -8px 3px 12px 4px rgba(0, 0, 0, 0.08);
}
.main .content-login #right form .login-forms {
  width: 89%;
  padding-left: 40px;
}
.main .content-login #right form .login-forms .header-texts {
  font-size: 0.9rem;
  font-family: "Source Sans Pro", sans-serif;
}
.main .content-login #right form .login-forms .header-texts h3 {
  font-size: 1.17em;
  font-weight: bold;
}
.main .content-login #right form .login-forms .header-texts a {
  float: right;
  padding-right: 27px;
  color: #000;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 17px;
}
.main .content-login #right form .login-forms .qr-code-wrapper {
  padding-left: 6px;
  padding-top: 24px;
}
.main .content-login #right form .login-forms .qr-code-wrapper span img {
  float: left;
  margin-left: -17px;
  width: 185px;
  margin-top: 3px;
}
.main .content-login #right form .login-forms .login-type-button {
  width: 271px;
  padding-top: 36px;
}
.main .content-login #right form .login-forms .login-type-button .by-type-active,
.main .content-login #right form .login-forms .login-type-button .by-type {
  width: 249px;
  border-radius: 5px;
  padding: 20px 2px;
  margin-top: 11px;
}
.main .content-login #right form .login-forms .login-type-button .by-type-active .type-inner-elements,
.main .content-login #right form .login-forms .login-type-button .by-type .type-inner-elements {
  margin: 0 auto;
  width: 80%;
}
.main .content-login #right form .login-forms .login-type-button .by-type-active .type-inner-elements span,
.main .content-login #right form .login-forms .login-type-button .by-type .type-inner-elements span {
  margin-left: 10px;
}
.main .content-login #right form .login-forms .login-type-button .by-type-active .type-inner-elements .value-btn-active,
.main .content-login #right form .login-forms .login-type-button .by-type .type-inner-elements .value-btn-active {
  border-bottom: 1px solid #fd9b00;
  padding-bottom: 2px;
}
.main .content-login #right form .login-forms .login-type-button .by-type-active .type-inner-elements .value-btn,
.main .content-login #right form .login-forms .login-type-button .by-type-active .type-inner-elements .value-btn-active,
.main .content-login #right form .login-forms .login-type-button .by-type .type-inner-elements .value-btn,
.main .content-login #right form .login-forms .login-type-button .by-type .type-inner-elements .value-btn-active {
  color: #000;
}
.main .content-login #right form .login-forms .login-type-button .by-type-active {
  border: 1px solid #ff9500;
}
.main .content-login #right form .login-forms .login-type-button .by-type {
  border: 1px solid #d2d2d2;
}
.main .content-login #right form .login-forms .info-wrapper {
  padding: 7px;
  font-size: 14px;
  color: gray;
  width: 97%;
  background: #f3f3f3;
}
.main .content-login #right form .login-forms .info-wrapper img {
  padding-right: 12px;
  opacity: 0.6;
  cursor: pointer;
}
.main .content-login #right form .login-forms .right-bottom .group {
  position: relative;
  margin-bottom: 33px;
  text-align: left;
}
.main .content-login #right form .login-forms .right-bottom .group img {
  top: 14px;
  position: absolute;
}
.main .content-login #right form .login-forms .right-bottom .group .info-icon {
  right: 10px;
  opacity: 0.6;
  cursor: pointer;
}
.main .content-login #right form .login-forms .right-bottom .group input {
  font-size: 18px;
  padding: 10px 10px 10px 37px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  color: #6f6f6f;
  outline: none;
}
.main .content-login #right form .login-forms .right-bottom .group label {
  top: -20px;
  font-size: 14px;
  color: #e28116;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 25px;
}
.main .content-login #right form .login-forms .right-bottom .login-inputs {
  width: 100%;
  margin-top: 47px;
}
.main .content-login #right form .login-forms .right-bottom .login-bottom-inputs {
  width: 100%;
}
.main .content-login #right form .login-forms .right-bottom .login-bottom-inputs .code-type {
  width: 53%;
}
.main .content-login #right form .login-forms .right-bottom .login-bottom-inputs .code-type .group input {
  padding: 10px 10px 10px 80px;
}
.main .content-login #right form .login-forms .right-bottom .login-bottom-inputs .code-type .group .code {
  opacity: 0.6;
  cursor: pointer;
}
.main .content-login #right form .login-forms .right-bottom .login-bottom-inputs .code-type .group .code-label {
  left: 55px;
}
.main .content-login #right form .login-forms .right-bottom .login-bottom-inputs .forgot-password {
  width: 45%;
  height: 60px;
  padding-top: 12px;
}
.main .content-login #right form .login-forms .right-bottom .login-bottom-inputs .forgot-password a {
  float: right;
  color: #7977a1;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 17px;
}
.main .content-login #right form .login-forms .right-bottom .login-btn {
  background: #ff6400;
  text-align: right;
  width: 95%;
  cursor: pointer;
  border-radius: 5px;
}
.main .content-login #right form .login-forms .right-bottom .login-btn input {
  background: #ff6400;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 13px 72px 13px 22px;
  color: #fff;
  border-radius: 5px;
  width: 86%;
  font-size: 17px;
}
.main .content-login #right form .login-forms .right-bottom .login-btn img {
  padding: 14px;
}

.stats-card .stats-body {
  height: 300px;
  transition: background-color 0.3s, color 0.3s;
}
.stats-card .stats-body i {
  font-size: 65px;
  line-height: 65px;
  margin-bottom: 10px;
  color: #ff6400;
}
.stats-card .stats-body h5 {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}
.stats-card .stats-body p {
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}
.stats-card .stats-body:hover {
  background-color: #ff6400 !important;
}
.stats-card .stats-body:hover h5,
.stats-card .stats-body:hover p {
  color: #fafafa !important;
}
.stats-card .stats-body:hover i {
  color: #fafafa !important;
}

header .topbar {
  background-color: #f8f9fa;
}
header .header-top {
  height: 55px;
  align-items: center;
}
header .header-top .links {
  margin: 0 22px;
}
header .header-top .links a {
  color: #323232;
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  line-height: 12px;
  font-size: 12px;
  margin-right: 8px;
}
header .header-top .logo {
  width: 24px;
  height: 27px;
}
header .header-top .logo img {
  width: 100%;
}
header .header-top-left .btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  line-height: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-top-left .btn a {
  color: #323232;
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 12px;
}
header .header-top-left .active {
  border: 1px solid #ff7a00;
}
header .header-top-left .active a {
  font-weight: 600;
  color: #ff7a00;
}
header .header-top-left .theme-icon button {
  padding: 9px 10px;
  display: inline-block;
  margin-left: 10px;
  box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
  background-color: #323232;
}
header .header-top-left .theme-icon button a {
  font-size: 0.9rem;
  vertical-align: middle;
  margin-right: 0;
}
header .header-top-left .theme-icon button a i {
  width: 14px;
  height: 10px;
  color: white;
}
header .header-top-left .langs .aze,
header .header-top-left .langs .rus {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-top-left .langs a {
  line-height: 12px;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 2px 14px -10px rgba(0, 0, 0, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #323232;
  padding: 0 8px;
}
header .header-top-left .right-menu {
  height: 35px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
header .header-top-left .search-icon {
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  width: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header .header-top-left .search-icon a {
  font-size: 0.7rem;
  color: #323232;
}
header .header-bottom {
  margin-bottom: 10px;
}
header .header-bottom .menubar-menus .menubar-menu {
  padding: 30px 15px;
}
header .header-bottom .menubar-menus .menubar-menu .menubar-menu-first {
  padding-left: 0px;
}
header .header-bottom .menubar-menus .menubar-menu a {
  font-size: 17.6px;
  color: #000;
  line-height: 18px;
  font-family: "CocoSharp-Bold";
}
header .header-bottom .menubar-menus .menubar-tools {
  line-height: 20px;
}

footer {
  padding: 75px 0 60px;
}
footer .footer-menus {
  padding-top: 55px;
}
footer .footer-menus .footer-menu .footer-link .footer-h {
  display: inline-block;
  line-height: 14px;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
footer .footer-menus .footer-menu .footer-list {
  display: flex;
  justify-content: space-between;
}
footer .footer-menus .footer-menu .footer-list ul {
  padding-top: 8px;
}
footer .footer-menus .footer-menu .footer-list ul li a {
  font-weight: 400;
  font-size: 12px;
  color: #000 !important;
  line-height: 35px;
}
footer .footer-socnets {
  padding: 50px 0 20px;
  border-bottom: 1px solid #d6d9db;
}
footer .footer-socnets .footer-socnet {
  text-decoration: none;
  margin-right: 18px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  background-color: #a1a1a1;
}
footer .footer-socnets .footer-socnet i {
  line-height: 24px;
  font-size: 12px;
}
footer .footer-socnets .socnet-orange {
  background-color: #ff6b00;
}
footer .footer-bottom {
  padding-top: 30px;
  width: 100%;
}
footer .footer-bottom .footer-text {
  color: #000;
  letter-spacing: 0.37px;
  line-height: 23px;
}
footer .footer-bottom .footer-text p {
  line-height: 12px;
  font-size: 12px;
}
footer .footer-bottom .footer-text p + p {
  font-weight: 200;
  font-size: 12px;
  margin-top: 10px;
}
footer .footer-bottom .footer-partners .footer-partner span {
  background-position: center;
  width: 100%;
}
footer .footer-bottom .footer-partners .footer-partner span img {
  height: 45px;
}

#slider {
  height: 450px;
  width: 100%;
}
#slider .banner {
  position: relative;
  background-color: #ff6b00;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
#slider .prev,
#slider .next {
  position: absolute;
  width: 100%;
  height: 100%;
}
#slider .banner-left {
  width: 45%;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
#slider .banner-left img {
  position: absolute;
  bottom: 0;
  right: auto;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 400px;
}
#slider .banner-right {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 3;
}
#slider .banner-right .banner-header {
  font-family: "CocoSharp-ExtraBold";
  font-weight: 800;
  font-size: 34px;
  color: #fff;
  margin-bottom: 20px;
  line-height: normal;
  width: 80%;
}
#slider .banner-right .banner-desc {
  width: 80%;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-bottom: 40px;
  line-height: 25px;
}

.dots-container {
  height: 12px;
  bottom: -20px;
  z-index: 1000;
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin: auto;
}
.dots-container .dot {
  width: 6px;
  height: 6px;
  margin: 0 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 35px;
  border: 3px solid #e6e6e6;
  background: #e6e6e6;
}
.dots-container .dot.active {
  background-color: #ff6400;
  border: 3px solid #ff6400;
}

.btns {
  margin-right: 10px;
  border-radius: 25px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 45px;
  padding: 8px 15px;
}
.btns a {
  color: #000 !important;
  font-size: 14px;
  font-weight: 600;
  font-family: "CocoSharp-Bold";
}
.btns a i {
  color: #ff6b00;
  font-size: 18px;
  margin-right: 10px;
}

.banner-btn,
.appbar-btns {
  line-height: unset !important;
  border: 1px solid #fff;
  padding: 16px 25px;
  font-size: 14px;
  width: 80px;
}
.banner-btn a,
.appbar-btns a {
  color: #fff !important;
}

.btn2 a {
  color: #fff !important;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding: 15px 45px;
  line-height: 20px;
  background: #ff6400;
  border-radius: 25px;
  box-shadow: 0 10px 10px -10px rgba(255, 107, 0, 0.51);
}

.second-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: 0 0 !important;
  box-shadow: none !important;
  line-height: 16px !important;
  padding: 14px 30px;
}
.second-btn a {
  color: #969696 !important;
  font-weight: 600;
  font-family: "CocoSharp-Bold";
}

.dark-mode {
  background-color: black !important;
}
.dark-mode * div {
  color: white !important;
}
.dark-mode * a {
  color: white !important;
}
.dark-mode * .topbar {
  background-color: #000 !important;
}
.dark-mode * .topbar .types {
  background-color: #313131 !important;
}
.dark-mode * .topbar .types button {
  background-color: #313131 !important;
}
.dark-mode * .topbar .active a {
  color: #ff6400 !important;
}
.dark-mode * .topbar .langs div {
  background-color: #313131 !important;
}
.dark-mode * .topbar .search-icon {
  background-color: #313131 !important;
}
.dark-mode * .hotline,
.dark-mode * .ibanking {
  border: 1px solid white;
}
.dark-mode * .dots-container .dot {
  border: 3px solid #1a1a1a;
  background: #1a1a1a;
}
.dark-mode * .dots-container .active {
  background-color: rgba(255, 100, 0, 0.8) !important;
  border: none;
}
.dark-mode * .stats-body {
  background: #1a1a1a !important;
}
.dark-mode * .stats-body h5 {
  color: white !important;
}
.dark-mode * .stats-body p {
  color: white !important;
}
.dark-mode * .stats-body:hover {
  background: #1a1a1a !important;
}
.dark-mode * .appbar-wrapper {
  background: #1a1a1a !important;
}
.dark-mode * .appbar-wrapper p {
  color: white !important;
}
.dark-mode * .appbar-wrapper .second-btn,
.dark-mode * .appbar-wrapper .third-btn {
  border: 1px solid #969696 !important;
}
.dark-mode * .appbar-wrapper .appbar-labels span {
  -webkit-filter: invert(100%);
}
.dark-mode * .exchange-wrapper {
  background: #1a1a1a !important;
}
.dark-mode * .exchange-wrapper td {
  color: white !important;
}
.dark-mode * .exchange-wrapper td i {
  color: white !important;
}
.dark-mode * .exchange-wrapper .exchange-converter {
  background-color: #464646 !important;
}
.dark-mode * .exchange-wrapper .exchange-converter .exchangecalc-inp {
  background-color: #313131 !important;
}
.dark-mode * .exchange-wrapper .exchange-converter .exchangecalc-select {
  background-color: #313131 !important;
}
.dark-mode * .exchange-wrapper .exchange-converter .exchangecalc-select select {
  background-color: #313131 !important;
}
.dark-mode * .exchange-wrapper .exchange-converter .exchangecalc-arrow i {
  color: #ff6400;
}
.dark-mode * .info-boxes-article {
  background: #1a1a1a !important;
}
.dark-mode * .network-location,
.dark-mode * .network-contact {
  background: #1a1a1a !important;
}
.dark-mode * .network-location p,
.dark-mode * .network-contact p {
  color: white !important;
}
.dark-mode * footer {
  border-color: white;
}
.dark-mode * footer h5 {
  color: white !important;
}
.dark-mode * footer #nav-link {
  color: white !important;
}
.dark-mode * footer .footer-socnets i {
  color: black !important;
}

#content h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  color: #ff6400;
  font-family: "CocoSharp-ExtraBold";
}
#content .content-links {
  margin: 20px 0 15px;
}
#content .content-links a {
  line-height: 14px;
  font-size: 14px;
  font-weight: 700;
  font-family: "CocoSharp-Bold";
  color: #a1a1a1;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  padding: 16px 40px;
  border-radius: 25px;
  border: 2px solid #969696;
}
#content .content-links .active-link {
  border: 2px solid #ff6400;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 25px;
  color: #ff6400 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
#content .content-links .active-link:after {
  position: absolute;
  bottom: -4px;
  transform: rotateZ(-45deg) translate(-50%);
  width: 16px;
  height: 16px;
  border-left: 2px solid #ff6400;
  border-bottom: 2px solid #ff6400;
  content: "";
  left: 50%;
  background: #fff;
}

#info-boxes {
  padding: 0 0 30px;
}
#info-boxes .info-boxes .info-boxes-body {
  margin: 0 -15px;
  overflow: hidden;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card {
  padding: 0 15px;
  width: 33.3333333333%;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article {
  background: #fafafa;
  padding: 30px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  height: 100%;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article .info-boxes-text .info-boxes-name {
  font-family: "CocoSharp-Bold";
  font-weight: 700;
  font-size: 16px;
  color: #ff6400;
  text-decoration: none;
  display: block;
  overflow: hidden;
  line-height: normal;
  margin-bottom: 10px;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article .info-boxes-text .info-boxes-summary {
  font-family: "CocoSharp-Light";
  font-weight: 200;
  font-size: 14px;
  color: #000;
  line-height: 23px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article .info-boxes-text .info-boxes-date {
  line-height: 12px;
  font-family: "CocoSharp-Regular";
  font-weight: 400;
  font-size: 12px;
  color: rgba(50, 50, 50, 0.5);
  margin-top: 15px;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article:hover {
  background-color: #ff6400;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article:hover .info-boxes-name,
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article:hover .info-boxes-summary,
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article:hover .info-boxes-date {
  color: #fafafa;
}
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article:hover .info-boxes-value,
#info-boxes .info-boxes .info-boxes-body .info-boxes-card .info-boxes-article:hover i {
  color: #fafafa;
}
#info-boxes .info-boxes-btn {
  margin-top: 35px;
  text-align: center;
}
#info-boxes .info-boxes-btn a {
  padding: 17px 25px;
}/*# sourceMappingURL=style.css.map */